html {

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

}
 ul{
   text-decoration: none; 
 }
 li{
   list-style-type: none;
 }
.container{
  margin: 0 auto;
}
#validation-input {
  display: block;
  margin: 0 auto;
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

#categories{
  text-align: center;;

}
#categories  {
  display: flex;
  justify-content: space-between;
}
#ingredients{
  padding-top: 50px;
 text-align: center;
}
#gallery {
  display: flex;
  
}
#gallery img{
  width:100%
}
#counter{
 text-align: center;
 font-size: 25px;
 padding-bottom: 30px;
 padding-top: 30px;
}
.inner{
  text-align: center;
  
}
.inner h1{
  padding-bottom: 50px;
}
.lower{
  padding-top: 40px;
  text-align: center;
  padding-bottom: 100px;
}